# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Mac OS
.DS_Store

# IDEs
.vscode/
.idea/

# Google Cloud
key.json
*.json

# Project control items
functional-description.md
